<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RastroAnimal{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <style>
        body { font-family: 'Inter', sans-serif; }
    </style>
</head>
<body class="bg-gray-100">

<div class="flex h-screen">

    {% include "components/sidebar.html" %}

    <div class="flex-1 flex flex-col">

        {% include "components/topbar.html" %}

        <main class="flex-1 p-8 overflow-y-auto">
            {% block content %}{% endblock %}
        </main>

    </div>

</div>

</body>
</html>
